[Desktop Entry]
Name=OxideSip
GenericName=SIP Softphone
Comment=Native Linux SIP Softphone
Exec=oxidesip
Icon=io.github.zerodaylabz.OxideSip
Terminal=false
Type=Application
Categories=Network;Telephony;Communication;
StartupWMClass=oxidesip
